@keyframes like {

    from {
      scale: 1;
    }
  
    to {
      scale: 1.25;
    }
  }
  
  @keyframes sparks {
  
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .card__icon-button .core {
    fill: transparent;
    transition: fill var(--time_step) ease 0.03s;
  }
  
  .button_heart .main-body {
    fill: transparent;
    transition: fill var(--time_step) ease 0s;
  }
  
  /* hover, active */
  
  .card__icon-button:hover .core {
    fill: var(--heart-contour-color);
    transition: fill var(--time_step) ease;
  }
  
  .card__icon-button:hover .main-body {
    fill: var(--heart-contour-color);
    transition: fill var(--time_step) ease 0.05s;
  }
  
  .card__icon-button:active .core {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) ease;
  }
  
  .card__icon-button:active .main-body {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) ease 0.05s;
  }
  
  .card__icon-button .is-liked .core {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) linear 0s;
  }
  
  .card__icon-button .is-liked .main-body {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) linear 0.05s;
  }
  
  .card__icon-button .is-liked .contour {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) linear 0.06s;
  }
  
  .card__icon-button .is-liked {
    animation: like var(--time_step) ease-in 0.1s 1;
    transform-origin: center;
  }
  
  .card__icon-button:focus-visible {
    outline-color: black;
    transition: outline-color var(--time_step) linear;
  }